
#exerciseOne {

.spanClass
text-align:center;

}






#exerciseTwo {


display :none;


}





#exerciseThree {

position:relative;
top:100px;
left:200px;


}






#exerciseFour{

position:absolute;
top:0;position:fixed;


}



#exerciseFive{

display: flex;
flex-direction:row;
align-items:center;
justify-content:space-around;
justify-content:stretch;

}


#exerciseFive{
display: flex;
flex-direction:row-reverse;

}





#exerciseSeven {

  display: flex;
justify-content:space-around;
align-items:flex-end;
flex-direction:column-reserve;


}

